// bower:scss
// endbower

@import "variables";
@import "components/components";
@import "global";
@import "sections/sections";

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}
