<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<style is="custom-style" include="shared-styles"></style>

<dom-module id="dgr-hero">
  <template>
    <style>
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        background: var(--primary-color);
        color: #fff;
      }

      .name {
        margin-bottom: 0;
        font-size: 5rem;
      }

      .job-title {
        margin: .2rem 0;
      }
    </style>
    <div class="container">
      <h1 class="name">Steven Sinatra</h1>
      <p class="job-title">[[jobTitle]]</p>
    </div>
  </template>

  <script>
    Polymer({
      is: 'dgr-hero',
      properties: {
        jobTitle: String
      },
      ready: function() {
        const jobTitles = [
          'A front-end web developer.',
          'Previously a designer.'
        ];

        this.jobTitle = jobTitles[0];

        var iterateJobTitle = (iterator) => {
          setTimeout(() => {
            this.jobTitle = jobTitles[iterator];
            if (iterator + 1 >= jobTitles.length) {
              iterateJobTitle(0);
            } else {
              iterateJobTitle(iterator + 1);
            }
          }, 2000);
        };

        iterateJobTitle(1);
      }
    });
  </script>
</dom-module>
