%portfolio-icon {

}


// -----------------------------------------------------------------------------
.site-portfolio {
  @extend %site-section;
  position: relative;
  background: $color-secondary;
  color: $color-white;

  *::selection {
    background: $color-white;
    color: $color-secondary;
  }
}

.portfolio-title {
  position: relative;
  min-height: 60px;
  margin: 0;
  font-size: 1em;
  text-align: center;
  transform: translateY(-.9em) translateZ(0);
  transition: all .3s $timing-material-design;

  > * {
    margin-top: 1em;
  }
}

.portfolio-link {
  display: inline-block;
  position: relative;
  margin: 0 0 -2em; // -2em to counter padding-bottom
  padding-bottom: 2em; // For more hoverable space
  color: $color-secondary;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all .3s $timing-material-design;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 5px;
    height: 50px;
    margin: -2em auto 0; // -2em is to counter the parent's padding-bottom
    background: $color-secondary;
    border-radius: 3px;
  }

  &:hover {
    transform: translateY(-1em); // Half of the padding-bottom
  }
}

.portfolio-wip {
  opacity: 0;
  font-style: italic;
  text-align: center;
  transform: translateY(2rem);
  transition: all .3s $timing-material-design;
}

.portfolio-list {
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4rem 2.5% 2rem;
  z-index: 1;
}

.portfolio-list__item {
  flex-basis: 24%;
  flex-grow: 1;
  min-width: 250px;
  max-width: 24%;
  position: relative;
  margin: .5%;
  padding: 20px 1.5%;
  transition: all .3s $timing-material-design;

  &:hover,
  &:focus {
    background: $color-accent-1;
    color: $color-secondary;
  }
}

.portfolio-list__item {
  &[data-wip] {
    .portfolio-list__item-image-container {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:before {
        background: rgba($color-black, .7);
        z-index: 1;
      }

      &:after {
        content: "Work In Progress";
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        color: $color-white;
        letter-spacing: 1px;
        font-size: .95em;
        font-weight: 700;
        text-transform: uppercase;
        transform: rotate(-5deg);
      }
    }

    .portfolio-list__item-image {
      filter: blur(1px);
    }
  }
}

.portfolio-list__item a {
  position: relative;
  z-index: 3;
  color: inherit;
}

.portfolio-list__icon-featured {
  position: absolute;
  top: 1.5%;
  right: 0;
  left: 0;
  width: 30px;
  margin: 0 auto;
  z-index: 1;
  fill: $color-secondary;
  stroke: $color-white;
}

.portfolio-list__item .portfolio-list__item-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  z-index: 2;
}

.portfolio-list__item-image-container {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.portfolio-list__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.portfolio-list__item-title {
  position: relative;
  margin-top: -.3em;
  padding: 10px 15px;
  z-index: 1;
  background: $color-accent-1;
  color: $color-secondary;
  font-size: 1.2em;
  box-shadow: 0 2px 5px 0 rgba(black, 0);
  transition: all .3s $timing-material-design;

  .portfolio-list__item:hover &,
  .portfolio-list__item:focus & {
    background: lighten($color-accent-1, 10%);
    //color: $color-accent-1;
    box-shadow: 0 2px 5px 0 rgba(black, .46);
  }
}

.portfolio-more {
  padding: 50px 0;
  text-align: center;
}

.portfolio-more a {
  display: inline-block;
  position: relative;
  padding: 5px 15px;
  border: 2px solid $color-accent-1;
  color: $color-accent-1;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: none;
  overflow: hidden;
  transition: all .2s $timing-material-design;

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: $color-accent-1;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s $timing-material-design;
    z-index: 0;
  }

  &:hover {
    color: $color-secondary;

    &:before {
      transform: scale(15);
    }
  }
}

.portfolio-more span {
  position: relative;
  z-index: 1;
}

.site-portfolio.is-in-view {
  .portfolio-title {
    font-size: 2em;
    transform: translateY(2rem);
  }

  .portfolio-wip {
    opacity: .5;
    transition-delay: .3s;
  }

  .portfolio-link {
    color: inherit;

    &:before {
      height: 0;
      opacity: 0;
    }

    &:hover {
      transform: none;
    }
  }
}
