.site-contact {
  @extend %site-section;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-accent-1;
}

.contact-title {
  font-size: 3em;
}

.site-contact .container {
  max-width: 600px;
  padding: 1em;
}

.site-social-link--block {
  display: block;
}
