@mixin text-underline($underline-color: $color-text, $text-background-color: $color-white) {
  background-image: linear-gradient(to bottom,rgba(75,160,0,0) 50%, $underline-color 50%);
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-shadow: 1px 1px 0 $text-background-color,
               1px -1px 0 $text-background-color,
               -1px 1px 0 $text-background-color,
               -1px -1px 0 $text-background-color,
               0 1px 0 $text-background-color,
               0 -1px 0 $text-background-color;
}

@mixin text-underline--disable {
  background: none;
  text-shadow: none;
}
