@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family-serif: "Rubik", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-family: var(--font-family-serif);

  --g-container-size: 45em;
  --g-count: 12;

  /* http://coolors.co/2b2823-f40924-ccd3cc-78976e-4e526d */
  --color-red: #f40924;
  --color-black: #2b2823;
  --color-dark-blue: #4e526d;
  --color-grey: #ccd3cc;
  --color-green: #78976e;
  --color-white: #fff;
  --color-brand: var(--color-red);
  --color-primary: var(--color-brand);
  --color-secondary: var(--color-dark-blue);
  --color-accent-1: var(--color-grey);
  --color-accent-2: var(--color-green);

  --color-text: var(--color-black);

  --color-background: #f8f8f8;

  --section-min-height: 500px;
  --section-height: 100vh;
  --section-height-fallback: var(--section-min-height);
  --intro-height: 100vh;

  --site-title-padding: 20px;

  --timing-function-default: cubic-bezier(.4,0,.2,1);

  --z-nav: 10000;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

