<style lang="scss">
  @use "../../styles/resume-breakpoints" as *;

  .container {
    position: relative;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;

    // For devices larger than 400px
    @media (#{$bp-larger-than-mobile}) {
      width: var(--container-width-larger-than-mobile);
      padding: 0;
    }

    // For devices larger than 550px
    @media (#{$bp-larger-than-phablet}) {
      width: var(--container-width-larger-than-phablet);
    }

    @media only print {
      width: 100%;
      padding: 0;
    }
  }
</style>
<div class="container">
  <slot />
</div>
