---
const { small = false } = Astro.props;
---
<style>
  .item-header {
    margin: .6em 0;
  }

  @media (min-width: 550px), only print {
    .item-header {
      display: flex;
    }
  }

  .side {
    font-family: var(--font-family-sans);
    font-size: var(--h3-font-size-small);
    font-weight: 500;
  }

  @media (min-width: 550px), only print {
    .main {
      flex: 2;
    }

    .side {
      flex: 1;
      margin-left: 1em;
      font-size: var(--h3-font-size);
      text-align: right;
      padding-left: 2em;
    }
  }
</style>

<div class="item-header">
  <div class="main">
    <slot name="main" />
  </div>
  <div class="side">
    <slot name="side" />
  </div>
</div>
