---
import Intro from '../components/intro.astro';
import Nav from '../components/nav.astro';
import "../styles/modern-normalize.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Steven Sinatra — Engineering Manager, Head of Web Performance at Canva</title>
    <meta name="description" content="I am Steven Sinatra. Engineering Manager. Head of Web Performance at Canva. Focusing on web performance, frontend, and coaching.">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./images/favicon-96x96.png" sizes="96x96">
  </head>
  <body>
    <Nav />
    <Intro />

    <script src="https://cdn.usefathom.com/script.js" data-site="LCTTVZDP" defer></script>
</body>
</html>
