---
import Layout from '../layouts/layout.astro';
import Section from './section.astro';
import Social from './social.astro';
---

<Layout>
  <Section>
    <div
      class="flex items-center justify-center relative min-h-screen text-center text-[var(--color-text)]"
    >
      <div class="container flex flex-col items-center">
        <svg
          class="block max-h-[50px] mx-auto fill-[var(--color-primary)] mb-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 326.88 160.8"
        >
          <use xlink:href="#svg-logo"></use>
        </svg>
        <h1 class="mb-2 tracking-tight text-2xl font-medium">
          Steven Sinatra
        </h1>
        <div class="site-tagline">
          A front-end engineer, Indonesian and Sydneysider. <br /> Currently leading
          company wide web performance efforts at <a
            href="https://www.canva.com"
            target="_blank"
            rel="noopener noreferrer">Canva</a
          >.
        </div>
        <Social />
      </div>
    </div>
  </Section>
</Layout>
