---
import Section from './section.astro';
---

<Section>
  <div class="site-intro">
    <div class="site-header-content container container--flexbox">
      <h1 class="site-title">Steven Sinatra</h1>
      <div class="site-tagline">
        Engineering manager, front-end engineer, Indonesian and Sydneysider.
        <br />
        Currently Head of Web Performance, Engineering Manager at <a href="https://www.canva.com">Canva</a>.
      </div>
    </div>
  </div>
</Section>

<style>
  .site-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: var(--intro-height);
    color: var(--color-text);
    text-align: center;
  }

  .site-intro::selection {
    background: var(--color-white);
  }

  .site-logo {
    display: block;
    max-height: 50px;
    margin: 0 auto;
    fill: var(--color-primary);
  }

  .site-title {
    margin-bottom: 0.2em;
    letter-spacing: -0.1px;
    font-size: 2rem;
    font-weight: 700;
  }
</style>
