---
import Social from './social.astro';
---

<section
  class="mx-auto flex h-[400px] w-full max-w-5xl items-center justify-center p-4 text-(--color-text) md:px-8"
>
  <div class="flex w-full flex-col">
    <div class="mb-2 flex items-center gap-8">
      <img
        src="/images/me.jpg"
        alt="Steven Sinatra"
        class="mb-4 h-[100px] w-[100px] rounded-full"
      />
      <svg
        class="mb-4 block h-[50px] fill-[var(--color-primary)]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 326.88 160.8"
      >
        <use xlink:href="#svg-logo"></use>
      </svg>
    </div>
    <h1 class="mb-2 text-4xl font-normal tracking-tight font-sans">Steven Sinatra</h1>
    <p class="text-lg leading-relaxed">
      Frontend engineer, Indonesian and Sydneysider. <br /> Currently frontend platform engineering at <a
        href="https://www.canva.com"
        target="_blank"
        rel="noopener noreferrer"
        class="underline decoration-from-font underline-offset-2"
        >Canva</a
      >. Previously leading company wide web performance efforts as an engineering manager.
    </p>
    <Social />
  </div>
</section>
