<div class="site-social">
  <a class="site-social-link" href="http://twitter.com/diagramatics" target="_blank">
    <svg class="icon icon-twitter" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-twitter" />
    </svg>
  </a>
  <a class="site-social-link" href="http://github.com/diagramatics" target="_blank">
    <svg class="icon icon-github" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-github" />
    </svg>
  </a>
  <a class="site-social-link" href="http://linkedin.com/in/diagramatics" target="_blank">
    <svg class="icon icon-linkedin" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-linkedin" />
    </svg>
  </a>
  <a class="site-social-link" href="mailto:steven@stevensinatra.id" target="_blank">
    <svg class="icon icon-mail" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-mail" />
    </svg>
  </a>
</div>

<style>
  .site-social {
    margin: 20px 0;
  }

  .site-social-link {
    color: currentColor;
    text-decoration: none;
    margin: 0 8px;
  }

  .icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    fill: var(--color-black);
    transition: all .2s var(--timing-function-default);
  }

  .icon-twitter:hover {
    fill: #55acee;
  }

  .icon-github:hover {
    fill: #4183c4;
  }

  .icon-linkedin:hover {
    fill: #0976b4;
  }

  .icon-mail:hover {
    fill: var(--color-primary);
  }

</style>
