<div class="my-5">
  <a class="mx-2 text-current no-underline" href="http://twitter.com/diagramatics" target="_blank">
    <svg class="inline-block h-8 w-8 fill-[var(--color-black)] transition-all duration-200 [transition-timing-function:var(--timing-function-default)] hover:fill-[#55acee]" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-twitter" />
    </svg>
  </a>
  <a class="mx-2 text-current no-underline" href="http://github.com/diagramatics" target="_blank">
    <svg class="inline-block h-8 w-8 fill-[var(--color-black)] transition-all duration-200 [transition-timing-function:var(--timing-function-default)] hover:fill-[#4183c4]" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-github" />
    </svg>
  </a>
  <a class="mx-2 text-current no-underline" href="http://linkedin.com/in/diagramatics" target="_blank">
    <svg class="inline-block h-8 w-8 fill-[var(--color-black)] transition-all duration-200 [transition-timing-function:var(--timing-function-default)] hover:fill-[#0976b4]" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-linkedin" />
    </svg>
  </a>
  <a class="mx-2 text-current no-underline" href="mailto:steven@stevensinatra.id" target="_blank">
    <svg class="inline-block h-8 w-8 fill-[var(--color-black)] transition-all duration-200 [transition-timing-function:var(--timing-function-default)] hover:fill-[var(--color-primary)]" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#svg-mail" />
    </svg>
  </a>
</div>
